<header class="header">
    <div class="container">
            <app-navbar></app-navbar>
        </div>
        <div class="conatiner" *ngIf="authService.isLoggedIn()">
            <h1 class="text-center">Hello, {{ authService.username }}!</h1>
        </div>
    <div class="masthead" *ngIf="!authService.isLoggedIn()">
        <div class="container d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
              
                </div>
            </div>
        </div>
    </div>
</header>