<nav class="navbar navbar-expand-lg">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <div class="col-sm-4">
      <a href="">
        <img src="../../../assets/img/logoAm1.png" routerLink="/" routerLinkActive="active"></a>
    </div>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" [class.show]="showNavbar">
      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-4 mb-lg-0">
        <li class="nav-item nvitem" *ngIf="!authService.isLoggedIn()">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item nvitem" *ngIf="!authService.isLoggedIn()">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item dropdown" *ngIf="authService.isLoggedIn()">
          <a class="nav-link dropdown-toggle" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="toggleNavbar()">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="rounded-circle me-2" width="30" height="30" alt="Profile Picture">{{ authService.username }}
          </a>
         <ul class="dropdown-menu" aria-labelledby="profileDropdown" [class.show]="showNavbar">
            <li>
              <a class="dropdown-item" routerLink="/profile">Profile</a>
            </li>
            <li>
              <button class="dropdown-item" (click)="authService.logout()">Logout</button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>