<style>
    .centered-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="centered-content text-center">
                <a href="">
                    <img src="../../../assets/img/logoAm1.png" alt="Logo" class="img-fluid">
                </a>
                <p>Welcome to AmmuBot</p>
                <p>Log in with your OpenAI account to continue</p>
                <div class="row">
                    <div class="col">
                        <div class="d-grid gap-2 mt-2">
                            <button type="submit" class="btn btn-success btn-block mb-2 shadow-sm"
                                routerLink="/login">Login</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-grid gap-2 mt-2">
                            <button type="submit" class="btn btn-success btn-block mb-2 shadow-sm"
                                routerLink="/register" routerLinkActive="active">Sing up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
