<div class="container">
  <app-navbar></app-navbar>
</div>
<div class="container">
  <div class="header text-center">
    <h1>Profile</h1>
  </div>
  <div class="container">
    <div class="row mx-auto">
      <div class="col-md-2">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Profile Picture" class="rounded-circle img-fluid">
      </div>
      <div class="col-md-2">
        <h2>Full Name</h2>
        <p><strong>Username:</strong> {{ authService.username }}</p>
        <ul class="list-unstyled">
          <li><strong>Email:</strong> {{ authService.email }}</li>
          <li><strong>Phone:</strong> 123-456-7890</li>
          <li><strong>Location:</strong> City, State</li>
        </ul>
      </div>
    </div>
  </div>
</div>