<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center mt-5">
                <a href="">
                    <img src="../../../assets/img/logoAm1.png" alt="Logo" class="img-fluid">
                </a>
            </div>
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h1 class="display-6 text-center">Welcome!</h1>
                            <form [formGroup]="loginForm">
                                <div class="mb-3">
                                    <label for="usrname">Username</label>
                                    <input type="text" class="form-control" id="usrname" formControlName="username"
                                        placeholder="Enter your username" aria-label="Username"
                                        aria-describedby="addon-wrapping">
                                </div>
                                <div class="mb-3">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" formControlName="password"
                                        placeholder="Enter your password" aria-label="Username"
                                        aria-describedby="addon-wrapping">
                                </div>
                                <div class="row">
                                    <div class="form-check col-md-8">
                                        <input id="customCheck1" type="checkbox" class="form-check-input">
                                        <label for="customCheck1" class="form-check-label">Remember password</label>
                                    </div>
                                    <div class="form-check col-md-4">
                                        <a href="">Forgot Password?</a>
                                    </div>
                                </div>
                                <div class="d-grid gap-2 mt-2">
                                    <button type="submit" class="btn btn-success btn-block mb-2 shadow-sm"
                                        (click)="onSubmit()">Login</button>
                                </div>
                                <div class="d-grid gap-2 mt-2">
                                    <button type="submit" class="btn btn-black btn-block mb-2 shadow-sm"
                                        routerLink="/register" routerLinkActive="active">Register new account</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md">
                            <a href="#" routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a>
                        </div>
                        <div class="col-md-2 text-center">
                            <p>© 2023 TechAshu.</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
