<div class="container-fluid">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="text-center mt-5">
              <a href="">
                  <img src="../../../assets/img/logoAm1.png" alt="Logo" class="img-fluid">
              </a>
          </div>
          <div class="login d-flex align-items-center py-5">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-10 col-xl-7 mx-auto">
                          <h1 class="display-6 text-center">Register here!</h1>
                          <form [formGroup]="registerForm">
                              <div class="mb-3">
                                  <label for="fullname">Full Name</label>
                                  <input type="text" class="form-control" id="fullname" formControlName="fullname"
                                      placeholder="Enter your full name" aria-label="Full Name"
                                      aria-describedby="addon-wrapping">
                              </div>
                              <div class="mb-3">
                                  <label for="usrname">Username</label>
                                  <input type="text" class="form-control" id="usrname" formControlName="username"
                                      placeholder="Enter your username" aria-label="Username"
                                      aria-describedby="addon-wrapping">
                              </div>
                              <div class="mb-3">
                                  <label for="email">Email</label>
                                  <input type="email" class="form-control" id="email" formControlName="email"
                                      placeholder="Enter your email" aria-label="Email"
                                      aria-describedby="addon-wrapping">
                              </div>
                              <div class="mb-3">
                                  <label for="password">Password</label>
                                  <input type="password" class="form-control" id="password"
                                      formControlName="password" placeholder="Enter your password"
                                      aria-label="Password" aria-describedby="addon-wrapping">
                              </div>
                              <div class="d-grid gap-2 mt-2">
                                  <button type="submit" class="btn btn-success btn-block mb-2 shadow-sm"
                                      (click)="onSubmit()">Register new account</button>
                              </div>
                              <div class="d-grid gap-2 mt-2">
                                  <button type="submit" class="btn btn-black btn-block mb-2 shadow-sm"
                                      routerLink="/login" routerLinkActive="active">Login</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          <footer>
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md">
                          <a href="#" routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a>
                      </div>
                      <div class="col-md-2 text-center">
                          <p>© 2023 TechAshu.</p>
                      </div>
                  </div>
              </div>
          </footer>
      </div>
  </div>
</div>
