
h1, label{
    font-weight: bold;
}

h1{
    margin-bottom: 1em;
}

.btn-success{
    background-color: #32D4A4;
    border-radius: 0.8em;
}

.btn-black{
    background-color: #121625;
    border-radius: 0.8em;
    color: white;
}

footer {
 
    color: #6c757d;
    margin-bottom: 1em;
  }
  
  footer a {
    color: #6c757d;
  }
  
  footer a:hover {
    color: #007bff;
  }

